<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= __('PRIVACY_TITLE') %></title>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../dist/css/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../dist/favicon.ico" />
		<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
			_paq.push(["trackPageView"]);
			_paq.push(["enableLinkTracking"]);
			(function() {
				var u = "//analytics.vincentwill.com/";
				_paq.push(["setTrackerUrl", u + "hokuspokusp"]);
				_paq.push(["setSiteId", "1"]);
				var d = document,
					g = d.createElement("script"),
					s = d.getElementsByTagName("script")[0];
				g.type = "text/javascript";
				g.async = true;
				g.defer = true;
				g.src = u + "hokuspokusj";
				s.parentNode.insertBefore(g, s);
			})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body class="is-boxed has-animations">
		<div class="body-wrap boxed-container">
			<header class="site-header">
				<div class="container">
					<div class="header-lang">
						<a class="<%= __('EN_ACTIVE') %>" href="/en/privacy">EN</a>
						<a class="<%= __('DE_ACTIVE') %>" href="/privacy">DE</a>
					</div>
					<div class="site-header-inner">
						<ul class="header-links list-reset m-0">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/blog"><%= __('BLOG') %></a>
							</li>
						</ul>
					</div>
				</div>
			</header>

			<main>
				<section class="section privacy">
					<h1>Privacy Policy</h1>
					<p>Effective date: May 29, 2019</p>
					<p>
						Vincent Will ('us', 'we', or 'our') operates the
						https://vincentwill.com website (hereinafter referred to
						as the 'Service').
					</p>
					<p>
						This page informs you of our policies regarding the
						collection, use, and disclosure of personal data when
						you use our Service and the choices you have associated
						with that data. Our Privacy Policy for Vincent Will is
						created with the help of the
						<a
							href="https://www.privacypolicies.com/free-privacy-policy-generator/"
							>PrivacyPolicies.com Privacy Policy Generator</a
						>.
					</p>
					<p>
						We use your data to provide and improve the Service. By
						using the Service, you agree to the collection and use
						of information in accordance with this policy. Unless
						otherwise defined in this Privacy Policy, the terms used
						in this Privacy Policy have the same meanings as in our
						Terms and Conditions, accessible from
						https://vincentwill.com
					</p>
					<h2>Information Collection And Use</h2>
					<p>
						We collect several different types of information for
						various purposes to provide and improve our Service to
						you.
					</p>
					<h3>Types of Data Collected</h3>
					<h4>Personal Data</h4>
					<p>
						While using our Service, we may ask you to provide us
						with certain personally identifiable information that
						can be used to contact or identify you ('Personal
						Data'). Personally identifiable information may include,
						but is not limited to:
					</p>
					<ul>
						<li>Cookies and Usage Data</li>
					</ul>
					<h4>Usage Data</h4>
					<p>
						We may also collect information on how the Service is
						accessed and used ('Usage Data'). This Usage Data may
						include information such as your computer's Internet
						Protocol address (e.g. IP address), browser type,
						browser version, the pages of our Service that you
						visit, the time and date of your visit, the time spent
						on those pages, unique device identifiers and other
						diagnostic data.
					</p>
					<h4>Tracking & Cookies Data</h4>
					<p>
						We use cookies and similar tracking technologies to
						track the activity on our Service and hold certain
						information.
					</p>
					<p>
						Cookies are files with small amount of data which may
						include an anonymous unique identifier. Cookies are sent
						to your browser from a website and stored on your
						device. Tracking technologies also used are beacons,
						tags, and scripts to collect and track information and
						to improve and analyze our Service.
					</p>
					<p>
						You can instruct your browser to refuse all cookies or
						to indicate when a cookie is being sent. However, if you
						do not accept cookies, you may not be able to use some
						portions of our Service. You can learn more how to
						manage cookies in the
						<a
							href="https://privacypolicies.com/blog/how-to-delete-cookies/"
							>Browser Cookies Guide</a
						>.
					</p>
					<p>Examples of Cookies we use:</p>
					<ul>
						<li>
							<strong>Session Cookies.</strong> We use Session
							Cookies to operate our Service.
						</li>
						<li>
							<strong>Preference Cookies.</strong> We use
							Preference Cookies to remember your preferences and
							various settings.
						</li>
						<li>
							<strong>Security Cookies.</strong> We use Security
							Cookies for security purposes.
						</li>
					</ul>
					<h2>Use of Data</h2>
					<p>
						Vincent Will uses the collected data for various
						purposes:
					</p>
					<ul>
						<li>To provide and maintain the Service</li>
						<li>To notify you about changes to our Service</li>
						<li>
							To allow you to participate in interactive features
							of our Service when you choose to do so
						</li>
						<li>To provide customer care and support</li>
						<li>
							To provide analysis or valuable information so that
							we can improve the Service
						</li>
						<li>To monitor the usage of the Service</li>
						<li>To detect, prevent and address technical issues</li>
					</ul>
					<h2>Transfer Of Data</h2>
					<p>
						Your information, including Personal Data, may be
						transferred to — and maintained on — computers located
						outside of your state, province, country or other
						governmental jurisdiction where the data protection laws
						may differ than those from your jurisdiction.
					</p>
					<p>
						If you are located outside Germany and choose to provide
						information to us, please note that we transfer the
						data, including Personal Data, to Germany and process it
						there.
					</p>
					<p>
						Your consent to this Privacy Policy followed by your
						submission of such information represents your agreement
						to that transfer.
					</p>
					<p>
						Vincent Will will take all steps reasonably necessary to
						ensure that your data is treated securely and in
						accordance with this Privacy Policy and no transfer of
						your Personal Data will take place to an organization or
						a country unless there are adequate controls in place
						including the security of your data and other personal
						information.
					</p>
					<h2>Disclosure Of Data</h2>
					<h3>Legal Requirements</h3>
					<p>
						Vincent Will may disclose your Personal Data in the good
						faith belief that such action is necessary to:
					</p>
					<ul>
						<li>To comply with a legal obligation</li>
						<li>
							To protect and defend the rights or property of
							Vincent Will
						</li>
						<li>
							To prevent or investigate possible wrongdoing in
							connection with the Service
						</li>
						<li>
							To protect the personal safety of users of the
							Service or the public
						</li>
						<li>To protect against legal liability</li>
					</ul>
					<h2>Security Of Data</h2>
					<p>
						The security of your data is important to us, but
						remember that no method of transmission over the
						Internet, or method of electronic storage is 100%
						secure. While we strive to use commercially acceptable
						means to protect your Personal Data, we cannot guarantee
						its absolute security.
					</p>
					<h2>Service Providers</h2>
					<p>
						We may employ third party companies and individuals to
						facilitate our Service ('Service Providers'), to provide
						the Service on our behalf, to perform Service-related
						services or to assist us in analyzing how our Service is
						used.
					</p>
					<p>
						These third parties have access to your Personal Data
						only to perform these tasks on our behalf and are
						obligated not to disclose or use it for any other
						purpose.
					</p>
					<h3>Analytics</h3>
					<p>
						We may use third-party Service Providers to monitor and
						analyze the use of our Service.
					</p>
					<ul>
						<li>
							<p><strong>Piwik or Matomo</strong></p>
							<p>
								Piwik or Matomo is a web analytics service. You
								can visit their Privacy Policy page here:
								<a href="https://matomo.org/privacy-policy"
									>https://matomo.org/privacy-policy</a
								>
							</p>
						</li>
					</ul>
					<h2>Links To Other Sites</h2>
					<p>
						Our Service may contain links to other sites that are
						not operated by us. If you click on a third party link,
						you will be directed to that third party's site. We
						strongly advise you to review the Privacy Policy of
						every site you visit.
					</p>
					<p>
						We have no control over and assume no responsibility for
						the content, privacy policies or practices of any third
						party sites or services.
					</p>
					<h2>Children's Privacy</h2>
					<p>
						Our Service does not address anyone under the age of 18
						('Children').
					</p>
					<p>
						We do not knowingly collect personally identifiable
						information from anyone under the age of 18. If you are
						a parent or guardian and you are aware that your
						Children has provided us with Personal Data, please
						contact us. If we become aware that we have collected
						Personal Data from children without verification of
						parental consent, we take steps to remove that
						information from our servers.
					</p>
					<h2>Changes To This Privacy Policy</h2>
					<p>
						We may update our Privacy Policy from time to time. We
						will notify you of any changes by posting the new
						Privacy Policy on this page.
					</p>
					<p>
						We will let you know via email and/or a prominent notice
						on our Service, prior to the change becoming effective
						and update the 'effective date' at the top of this
						Privacy Policy.
					</p>
					<p>
						You are advised to review this Privacy Policy
						periodically for any changes. Changes to this Privacy
						Policy are effective when they are posted on this page.
					</p>
					<h2>Contact Us</h2>
					<p>
						If you have any questions about this Privacy Policy,
						please contact us:
					</p>
					<ul>
						<li>By email: vincentwill@arcor.de</li>
					</ul>
				</section>
			</main>

			<footer class="site-footer">
				<div class="container">
					<div class="site-footer-inner">
						<div class="brand footer-brand">
							<a href="/">
								<img
									src="../dist/imgs/logo.png"
									alt="Vincent Will Logo"
								/>
							</a>
						</div>
						<ul class="footer-links list-reset">
							<li>
								<a href="/<%= __('LINK_LANGUAGE') %>privacy"><%= __('PRIVACY_TITLE') %></a>
							</li>
							<li>
								<a href="/blog" data-link="contact">Blog</a>
							</li>
							<li>
								<a
									href="https://vincenius.com"
									data-link="contact"
									>Art</a
								>
							</li>
						</ul>
						<ul class="footer-social-links list-reset">
							<li>
								<a
									href="https://www.linkedin.com/in/vincent-will-58356212a/"
									target="_blank"
									rel="noopener"
								>
									<span class="screen-reader-text"
										>LinkedIn</span
									>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
										/>
									</svg>
								</a>
							</li>
							<li>
								<a href="mailto:vincentwill@arcor.de">
									<span class="screen-reader-text"
										>E-Mail</span
									>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
										/>
									</svg>
								</a>
							</li>
						</ul>
						<div class="footer-copyright">
							&copy;
							<script>
								new Date().getFullYear() > 2010 &&
									document.write(new Date().getFullYear());
							</script>
							- Vincent Will
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="../dist/js/main.min.js"></script>
	</body>
</html>
