<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= __('PRIVACY_TITLE') %></title>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="dist/css/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="dist/favicon.ico" />
		<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
			_paq.push(["trackPageView"]);
			_paq.push(["enableLinkTracking"]);
			(function() {
				var u = "//analytics.vincentwill.com/";
				_paq.push(["setTrackerUrl", u + "hokuspokusp"]);
				_paq.push(["setSiteId", "1"]);
				var d = document,
					g = d.createElement("script"),
					s = d.getElementsByTagName("script")[0];
				g.type = "text/javascript";
				g.async = true;
				g.defer = true;
				g.src = u + "hokuspokusj";
				s.parentNode.insertBefore(g, s);
			})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body class="is-boxed has-animations">
		<div class="body-wrap boxed-container">
			<header class="site-header">
				<div class="container">
					<div class="header-lang">
						<a class="<%= __('EN_ACTIVE') %>" href="/en/privacy">EN</a>
						<a class="<%= __('DE_ACTIVE') %>" href="/privacy">DE</a>
					</div>
					<div class="site-header-inner">
						<ul class="header-links list-reset m-0">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/blog"><%= __('BLOG') %></a>
							</li>
						</ul>
					</div>
				</div>
			</header>

			<main>
				<section class="section privacy">
					<h1>Datenschutz-Richtlinie</h1>
					<p>Datum des Inkrafttretens: May 29, 2019</p>
					<p>
						Vincent Will ('wir', 'uns', 'unser' usw.) betreibt die
						Website https://vincentwill.com (nachstehend als 'Dienst'
						bezeichnet).
					</p>
					<p>
						Diese Seite enthält Informationen zu der Art und Weise,
						auf welche wir personenbezogene Daten erfassen, nutzen
						und offenlegen, wenn Sie unseren Dienst nutzen, sowie zu
						den Optionen, die Ihnen im Zusammenhang mit diesen Daten
						zur Verfügung stehen. Our Privacy Policy for Vincent
						Will is created with the help of the
						<a href="https://www.privacypolicies.com/"
							>PrivacyPolicies.com Privacy Policy Generator</a
						>.
					</p>
					<p>
						Wir nutzen Ihre Daten zur Bereitstellung und
						Verbesserung unseres Dienstes. Durch Inanspruchnahme des
						Dienstes erklären Sie sich mit der Erfassung und Nutzung
						von Daten durch uns nach Maßgabe dieser Richtlinie
						einverstanden. Soweit in dieser Datenschutz-Richtlinie
						nicht jeweils etwas anderes angegeben ist, kommt den in
						dieser Datenschutz-Richtlinie vorkommenden Begriffen
						jeweils dieselbe Bedeutung zu, die diesen in unseren
						Allgemeinen Geschäftsbedingungen (Terms and Conditions)
						(abrufbar über die https://vincentwill.com) zugewiesen
						wurde.
					</p>
					<h2>Begriffsbestimmungen</h2>
					<ul>
						<li>
							<p><strong>Dienst</strong></p>
							<p>
								Der Dienst ist die von dem Vincent Will
								betriebene Website https://vincentwill.com
							</p>
						</li>
						<li>
							<p><strong>Personenbezogene Daten</strong></p>
							<p>
								Personenbezogene Daten sind Daten, die sich auf
								eine lebende Person beziehen, welche anhand
								dieser Daten (bzw. anhand dieser Daten in
								Kombination mit weiteren Informationen, die sich
								bereits in unserem Besitz befinden oder mit
								Wahrscheinlichkeit in unseren Besitz gelangen
								werden) identifizierbar ist.
							</p>
						</li>
						<li>
							<p><strong>Nutzungsdaten</strong></p>
							<p>
								Nutzungsdaten sind Daten, die automatisch im
								Rahmen der Nutzung des Dienstes oder innerhalb
								der Dienstinfrastruktur selbst (beispielsweise
								für die Dauer eines Seitenbesuchs) erfasst
								werden.
							</p>
						</li>
						<li>
							<p><strong>Cookies</strong></p>
							<p>
								Cookies sind kleine Dateien, die auf Ihrem Gerät
								(Computer oder mobiles Endgerät) gespeichert
								werden.
							</p>
						</li>
					</ul>
					<h2>Erfassung und Nutzung von Daten</h2>
					<p>
						Wir erfassen verschiedene Arten von Daten für eine Reihe
						von Zwecken, um den Dienst, den wir Ihnen zur Verfügung
						stellen, zu verbessern.
					</p>
					<h3>Arten der erfassten Daten</h3>
					<h4>Personenbezogene Daten</h4>
					<p>
						Im Rahmen der Nutzung unseres Dienstes bitten wir Sie
						gegebenenfalls um die Zurverfügungstellung bestimmter
						persönlich identifizierbarer Daten, die wir dazu nutzen,
						um Sie zu kontaktieren oder zu identifizieren
						('personenbezogene Daten'). Persönlich identifizierbare
						Daten umfassen beispielsweise folgende Daten (sind
						jedoch nicht auf diese beschränkt):
					</p>
					<ul>
						<li>Cookies und Nutzungsdaten</li>
					</ul>
					<h4>Nutzungsdaten</h4>
					<p>
						Wir können außerdem Daten zu der Art und Weise erfassen,
						auf welche auf unseren Dienst zugegriffen wird bzw. auf
						welche diese genutzt werden ('Nutzungsdaten'). Diese
						Nutzungsdaten umfassen gegebenenfalls die
						Internet-Protocol-Adresse (IP-Adresse) Ihres Computers,
						Ihren Browsertyp, Ihre Browserversion, die von Ihnen
						innerhalb unseres Dienstes besuchten Seiten, den
						Zeitpunkt und das Datum Ihres Besuchs, die
						Gesamtverweildauer auf den betreffenden Seiten,
						individuelle Geräteidentifikationsmerkmale und weitere
						Diagnostikdaten.
					</p>
					<h4>Tracking & Cookies</h4>
					<p>
						Wir setzen Cookies und ähnliche Tracking-Technologien
						zur Überwachung der Aktivität innerhalb unseres Dienstes
						ein und speichern in diesem Zusammenhang bestimmte
						Daten.
					</p>
					<p>
						Cookies sind Dateien mit einem geringen Datenumfang, wie
						zum Beispiel anonyme einzigartige Identifikatoren.
						Cookies werden von einer Website an Ihren Browser
						gesendet und auf Ihrem Gerät gespeichert. Die sonstigen
						von uns eingesetzten Tracking-Technologien sind so
						genannte Beacons, Tags und Scripts und dienen der
						Erfassung und Nachverfolgung von Daten sowie der
						Verbesserung und Analyse unseres Dienstes.
					</p>
					<p>
						Sie können in den Einstellungen Ihres Browsers
						bestimmen, ob Sie alle Cookies ablehnen oder nur
						bestimmte Cookies akzeptieren möchten. Falls Sie jedoch
						die Annahme von Cookies verweigern, können Sie
						gegebenenfalls Teile unseres Dienstes nicht in Anspruch
						nehmen. Weitere Informationen zum Verwalten von Cookies
						finden Sie im
						<a
							href="https://privacypolicies.com/blog/how-to-delete-cookies/"
							>Browser-Cookies-Handbuch</a
						>.
					</p>
					<p>Beispiele für von uns eingesetzte Cookies:</p>
					<ul>
						<li>
							<strong>Sitzungs-Cookies.</strong> Wir setzen
							Sitzungs-Cookies für den Betrieb unseres Dienstes
							ein.
						</li>
						<li>
							<strong>Präferenz-Cookies.</strong> Wir setzen
							Präferenz-Cookies ein, um Ihre Präferenzen und
							verschiedenen Einstellungen zu speichern.
						</li>
						<li>
							<strong>Sicherheits-Cookies.</strong> Wir setzen
							Sicherheits-Cookies für Sicherheitszwecke ein.
						</li>
					</ul>
					<h2>Datennutzung</h2>
					<p>
						Wir bei Vincent Will nutzen die erfassten Daten für
						verschiedene Zwecke, beispielsweise um:
					</p>
					<ul>
						<li>
							Ihnen unseren Dienst zur Verfügung zu stellen und
							diesen aufrecht zu erhalten;
						</li>
						<li>
							Ihnen Änderungen in Bezug auf unseren Dienst
							mitzuteilen;
						</li>
						<li>
							es Ihnen auf Wunsch zu ermöglichen, an den
							interaktiven Teilen unseres Dienstes teilzunehmen;
						</li>
						<li>
							Kundendienstleistungen zur Verfügung zu stellen;
						</li>
						<li>
							Analysedaten und sonstige wertvolle Daten zu
							erfassen, damit wir unseren Dienst verbessern
							können;
						</li>
						<li>die Nutzung unseres Dienstes zu überwachen;</li>
						<li>
							technische Probleme zu erkennen, zu vermeiden und zu
							beheben;
						</li>
					</ul>
					<h2>Übertragung von Daten</h2>
					<p>
						Ihre Daten, einschließlich personenbezogener Daten,
						können auf Computer übertragen – und auf solchen
						aufbewahrt – werden, die sich außerhalb Ihres
						Heimatstaates, Ihrer Heimatprovinz, Ihres Heimatlandes
						oder einer sonstigen Rechtsordnung befinden und somit
						Datenschutzgesetzen unterliegen, die sich von den
						Datenschutzgesetzen in Ihrer Rechtsordnung
						unterscheiden.
					</p>
					<p>
						Falls Sie sich außerhalb von Germany befinden und sich
						dazu entscheiden, Daten an uns zu übermitteln, müssen
						Sie zur Kenntnis nehmen, dass wir Ihre Daten,
						einschließlich personenbezogener Daten, nach Germany
						übertragen und diese dort verarbeiten.
					</p>
					<p>
						Ihre Zustimmung zu dieser Datenschutz-Richtlinie und
						eine nachfolgende Übermittlung von Daten Ihrerseits
						stellt eine Einverständniserklärung Ihrerseits zu der
						genannten Übertragung dar.
					</p>
					<p>
						Vincent Will wird alle im zumutbaren Rahmen
						erforderlichen Schritte unternehmen um sicherzustellen,
						dass Ihre Daten auf sichere Weise sowie in
						Übereinstimmung mit dieser Datenschutz-Richtlinie
						behandelt werden, und dass Ihre personenbezogenen Daten
						nicht an Organisationen oder in Länder übertragen
						werden, hinsichtlich welcher keine hinreichenden
						Kontrollmechanismen in Bezug auf die Sicherheit Ihrer
						Daten und sonstigen personenbezogenen Informationen
						vorliegen.
					</p>
					<h2>Offenlegung von Daten</h2>
					<h3>Gesetzliche Anforderungen</h3>
					<p>
						Vincent Will kann Ihre personenbezogenen Daten unter
						Umständen offenlegen, wenn es unter Beachtung der
						Grundsätze von Treu und Glauben der Ansicht ist, dass
						dies zur Erreichung der nachfolgenden Zielsetzungen
						erforderlich ist:
					</p>
					<ul>
						<li>zur Erfüllung einer gesetzlichen Pflicht</li>
						<li>
							zum Schutz und zur Verteidigung der Rechte oder des
							Eigentums von Vincent Will
						</li>
						<li>
							zur Vermeidung oder Untersuchung möglicher
							Fehlverhaltensweisen in Bezug auf den Dienst
						</li>
						<li>
							zum Schutz der persönlichen Sicherheit der Nutzer
							des Dienstes oder der Öffentlichkeit
						</li>
						<li>zur Vermeidung von Haftungsansprüchen</li>
					</ul>
					<h2>Datensicherheit</h2>
					<p>
						Die Sicherheit Ihrer Daten ist uns wichtig. Bitte
						vergessen Sie jedoch nicht, dass es keine
						Übertragungsmethoden über das Internet und keine
						elektronischen Speichermedien gibt, die 100 % sicher
						sind. Obwohl wir stets bemüht sind, kommerziell
						annehmbare Maßnahmen zum Schutz Ihrer personenbezogenen
						Daten umzusetzen, können wir eine absolute Sicherheit
						nicht garantieren.
					</p>
					<h2>Leistungsanbieter</h2>
					<p>
						Wir beauftragen gegebenenfalls dritte Unternehmen und
						Einzelpersonen ('Leistungsanbieter') mit
						Unterstützungsleistungen zum einfacheren Angebot unseres
						Dienstes, mit der Erbringung von Leistungen in unserem
						Namen, mit der Erbringung von mit unserem Dienst
						verbundenen Leistungen oder mit Unterstützungsleistungen
						zur Analyse der Art und Weise, auf die unser Dienst in
						Anspruch genommen wird.
					</p>
					<p>
						Diese Dritten können auf Ihre personenbezogenen Daten
						nur in dem Umfang Zugriff nehmen, der für die Erfüllung
						der genannten Aufgaben in unserem Namen erforderlich
						ist, und dürfen diese für keine sonstigen Zwecke
						offenlegen oder nutzen.
					</p>
					<h3>Analytik</h3>
					<p>
						Wir beauftragen gegebenenfalls dritte Leistungsanbieter
						mit der Überwachung und Analyse der Nutzung unseres
						Dienstes.
					</p>
					<ul>
						<li>
							<p><strong>Piwik / Matomo</strong></p>
							<p>
								Piwik oder Matomo ist ein Web-Analytics-Dienst.
								Die Datenschutz-Richtlinie (Privacy Policy) des
								Anbieters kann unter folgendem Link eingesehen
								werden:
								<a href="https://matomo.org/privacy-policy"
									>https://matomo.org/privacy-policy</a
								>
							</p>
						</li>
					</ul>
					<h2>Links zu anderen Websites</h2>
					<p>
						Unser Dienst kann Links zu anderen Websites enthalten,
						die nicht von uns betrieben werden. Wenn Sie auf einen
						Drittlink klicken, werden Sie direkt auf die Website des
						betreffenden Dritten weitergeleitet. Wir empfehlen Ihnen
						dringend, sich jeweils die Datenschutz-Richtlinien aller
						von Ihnen besuchten Websites durchzulesen.
					</p>
					<p>
						Wir haben keine Kontrolle über die Inhalte,
						Datenschutzvorschriften und -praktiken dritter Websites
						oder Dienste und übernehmen in diesem Zusammenhang keine
						Haftung.
					</p>
					<h2>Privatsphäre Minderjähriger</h2>
					<p>
						Unser Dienst richtet sich nicht an Personen, die das 18.
						Lebensjahr noch nicht vollendet haben ('minderjährige
						Personen').
					</p>
					<p>
						Wir erfassen wissentlich keine persönlich
						identifizierbaren Daten zu minderjährigen Personen.
						Falls Sie ein Elternteil oder Vormund sind und es Ihnen
						bekannt wird, dass eine Ihrer Aufsicht unterstehende
						minderjährige Person uns personenbezogene Daten
						übermittelt hat, bitten wir Sie, mit uns Kontakt
						aufzunehmen. Falls uns bekannt wird, dass wir
						personenbezogene Daten einer minderjährigen Person ohne
						elterliche Zustimmung erfasst haben, setzen wir
						Maßnahmen zur Entfernung dieser Daten von unseren
						Servern um.
					</p>
					<h2>Änderungen dieser Datenschutz-Richtlinie</h2>
					<p>
						Wir können unsere Datenschutz-Richtlinie von Zeit zu
						Zeit aktualisieren. Jegliche solcher Änderungen teilen
						wir Ihnen mit, indem wir die aktualisierte Fassung auf
						dieser Seite veröffentlichen.
					</p>
					<p>
						Wir werden Sie vor dem Inkrafttreten der betreffenden
						Änderung per E-Mail und/oder mittels einer sonstigen
						sichtbaren Mitteilung innerhalb unseres Dienstes
						informieren und das 'Datum des Inkrafttretens' am Beginn
						dieser Datenschutz-Richtlinie aktualisieren.
					</p>
					<p>
						Wir empfehlen Ihnen, diese Datenschutz-Richtlinie
						regelmäßig auf Änderungen hin durchzusehen. Änderungen
						dieser Datenschutz-Richtlinie werden im Zeitpunkt ihrer
						Veröffentlichung auf dieser Seite wirksam.
					</p>
					<h2>Kontaktaufnahme</h2>
					<p>
						Falls Sie Fragen zu dieser Datenschutz-Richtlinie haben,
						können Sie wie folgt Kontakt zu uns aufnehmen:
					</p>
					<ul>
						<li>Per E-Mail: vincentwill@arcor.de</li>
					</ul>
				</section>
			</main>

			<footer class="site-footer">
				<div class="container">
					<div class="site-footer-inner">
						<div class="brand footer-brand">
							<a href="/">
								<img
									src="dist/imgs/logo.png"
									alt="Vincent Will Logo"
								/>
							</a>
						</div>
						<ul class="footer-links list-reset">
							<li>
								<a href="<%= __('LINK_LANGUAGE') %>privacy"><%= __('PRIVACY_TITLE') %></a>
							</li>
							<li>
								<a href="/blog">Blog</a>
							</li>
							<li>
								<a
									href="https://vincenius.com"
									data-link="contact"
									>Art</a
								>
							</li>
						</ul>
						<ul class="footer-social-links list-reset">
							<li>
								<a
									href="https://www.linkedin.com/in/vincent-will-58356212a/"
									target="_blank"
									rel="noopener"
								>
									<span class="screen-reader-text"
										>LinkedIn</span
									>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
										/>
									</svg>
								</a>
							</li>
							<li>
								<a href="mailto:vincentwill@arcor.de">
									<span class="screen-reader-text"
										>E-Mail</span
									>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
									>
										<path
											d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
										/>
									</svg>
								</a>
							</li>
						</ul>
						<div class="footer-copyright">
							&copy;
							<script>
								new Date().getFullYear() > 2010 &&
									document.write(new Date().getFullYear());
							</script>
							- Vincent Will
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="dist/js/main.min.js"></script>
	</body>
</html>
